name: CI

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint & Format
    uses: ./.github/workflows/lint.yml

  typecheck:
    name: Type Check
    uses: ./.github/workflows/typecheck.yml

  test:
    name: Test
    uses: ./.github/workflows/test.yml
